@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h3>Products</h3>
        <div class="d-flex justify-content-end mb-1">
            <a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Products">Add New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Size</th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in Model)
                {
                    <tr>
                        <td><img src="~/Pictures/@p.Picture" class="rounded-circle" style="width:40px;" /></td>
                        <td>@p.ProductName</td>
                        <td>@p.Price</td>
                        <td>@p.Size</td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-controller="Products" asp-route-id="@p.ProductId">Edit</a>
                            <button data-pk="@p.ProductId" type="button" class="btn btn-danger btn-sm del" >Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/libs/jquery/jquery.js"></script>
    <script>
        $(".del").click(function () {
            if (!confirm('Are you sure to delete?')) return;
            var btn = $(this);
            let id = $(this).data("pk");
            $.ajax({
                type: "post",
                url:"/Products/Delete/"+id,
                dataType: "json",
                success: r => {
                    if (r.success == true) {
                        btn.closest("tr").remove();
                    }
                }
            })
        })
    </script>
}

